thead {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 26.4px;
  color: #99bbff;

}
tbody{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.pendingCard{
  background-color: #99bbff;
}
.pendingCard:hover{


}


.createdCard{
  background-color: hsl(120, 45%, 55%);
}
.createdCard:hover{


}


.archivedCard{
  background-color: hsl(2, 100%, 65%);
}
.archivedCard:hover{


}


.card:hover {
  background-color: transparent;
}


.toarchivedCard {
  background-color: hsl(33, 100%, 55%);
}
.toarchivedCard:hover {


}


.id_td:hover{
  background-color: royalblue;
}

.fa:hover{
  color: orange;
}

.rightLine {
  border-right: 0.5px solid white;

}
.ion-close-circled{
  color: orange;
}
.ion-checkmark-round:hover{
  color: #1C2B36;
}

.ion-close-circled:hover {
  color: #1C2B36;
}

.ion-edit:hover {
  color: #1C2B36;
}


