tbody {
  align-content: center;

}

.pendingCard{
  background-color: #4d88ff;
}
.createdCard{
  background-color: #32cd32;
}
.archivedCard{
  background-color: #ff3333;
}
.card:hover {
  background-color: royalblue;
}
.rightLine {
  border-right: 0.5px solid white;

}
.ion-close-circled{
  color: orange;
}
.ion-checkmark-round:hover{
  color: #1C2B36;
}

.ion-close-circled:hover {
  color: #1C2B36;
}

.ion-edit:hover {
  color: #1C2B36;
}
